<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
<h3>Student Registation Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="post">
    First name: <input type="text" th:field="*{firstName}">
    <br><br>
    LastName: <input type="text" th:field="*{lastName}">
    <br><br>
    Country:
    <select th:field="*{country}">
        <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />
    </select>
    <br><br>

    Favorite programming languages:
    <input type="radio" th:field="*{favoriteLanguage}" th:each="language: ${languages}" th:value="${language}" th:text="${language}" />
    <br><br>

    Favorite Operating System:
    <input type="checkbox" th:field="*{favoriteSystems}" th:each="system: ${systems}" th:value="${system}" th:text="${system}">
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>